.header {
  background-color: #2c2f3a;
  padding: 1rem 2rem;
  border-bottom: 2px solid #a67c52;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00ffaa;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.2s;
}

.backButton img {
  width: 30px;
  height: 30px;
}

.backButton:hover {
  transform: scale(1.05);
}

.title {
  color: #fff8dc;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.logo {
  justify-content: left;
  align-items: left;
  color: #00ffaa;
  font-size: 1.8rem;
  font-family: 'Segoe UI', sans-serif;
}
