

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
 background-color: #4CAF50; 
  color: #fff; 
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer; 
  border-radius: 0.5rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s ease-in-out; 
}

.backButton:hover {
  background-color: #3e8e41;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
}

.voltarLogin {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.voltarLogin:hover {
  background-color: #777;
}
.backButton:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}
