.container {
  margin-top: 50px;
  text-align: center;
  border: 1px solid #8b4513;
  border-radius: 30px;
  padding: 40px;
  width: 400px;
  margin: 80px auto;
  background-color: #f5f5dc;
  color: #2f1b14;
}

h1 {
  margin-bottom: 10px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: #8b4513;
  color: #f5f5dc;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.voltar {
  background: none;
  border: none;
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
